{% extends 'base/master.html'%}
{% block 'title' %}  student dashboard {%  endblock %}
{% block 'body' %}

<div class="container">
<div class="col-md-12">
    <h3>Welcome {{user.email}} to student dashboard</h3><div class="box">
            <div class="col-md-2">
                <h5>Name</h5>
                <br>Abash shah
            </div>
            <div class="col-md-2">
                <h5>RTS</h5>
                <br>55
            </div>
            <div class="col-md-2">
                <h5>SOFT-ENG</h5>
                <br>55
            </div>
            <div class="col-md-2">
                <h5>COMPILER</h5>
                <br>55
            </div>
            <div class="col-md-2">
                <h5>WEB-TECH</h5>
                <br>55
            </div>
            <div class="col-md-2">
                <h5>ECOMMERCE</h5>
                <br>55
            </div>
            <hr/>
            <hr>
        </div>
</div>
</div>
 {% endblock %}