{% extends 'base/master.html'%}
{% block 'title' %}  student dashboard {%  endblock %}
{% block 'body' %}

<div class="container">
    <h3>Welcome {{std.name}} here is your Result!!!</h3>
    <table class="table" border="2px">
        <tr>
            <th>Name</th>
            <th>RealTimeSystem</th>
            <th>Software-Engineering</th>
            <th>WebTech</th>
            <th>ImageProcessing</th>
            <th>COMPILER</th>
        </tr>
        <tr>
            <td>{{std.name}}</td>
            <td>{{stdresult.rts}}</td>
            <td>{{stdresult.se}}</td>
            <td>{{stdresult.webtech}}</td>
            <td>{{stdresult.imgprcss}}</td>
            <td>{{stdresult.compiler}}</td>
        </tr>
    </table>

</div>
<hr>
 {% endblock %}