{% extends 'base/master.html'%}
{% block 'title' %}  Teacher dashboard {%  endblock %}
{% block 'body' %}

<div class="container">
    <h3>Welcome {{user.email}} to Teacher dashboard</h3>
            <table class="table" border="2px">
                <tr>
                    <th>Name</th>
                    <th>RealTimeSystem</th>
                    <th>Software-Engineering</th>
                    <th>WebTech</th>
                    <th>ImageProcessing</th>
                    <th>COMPILER</th>
                </tr>
                {% for r in result %}
                <tr>
                    <td>{{r.student.name}}</td>
                    <td>{{r.rts}}</td>
                    <td>{{r.se}}</td>
                    <td>{{r.webtech}}</td>
                    <td>{{r.imgprcss}}</td>
                    <td>{{r.compiler}}</td>
                </tr>
                {% endfor %}

            </table>
</div>
 {% endblock %}
